* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-width : none;
}

.box-navbar{
    z-index: 3;
    width: 100%;
    height: 17vh;
    background-color: rgba(167, 167, 167, 0);
    justify-content: center;
    display: flex;
    align-items: center;
    position: fixed;
    font-family: "Gill Sans Extrabold", sans-serif;
}

.navbar{
    width: 40vw;
    height: 8.2vh;
    background-color: rgb(249, 249, 249);
    border-radius: 50px;
    display: flex;
    gap: 3vw;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 1s;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.navbar::after , .navbar::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: conic-gradient(from var(--angle) , transparent 70%,#50B498, #468585);
    z-index: -1;
    padding: 4px;
    border-radius: 40px;
    animation: 2s spin linear infinite;
}

.navbar::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    0%{
        --angle: 0deg;
    }
    100%{
        --angle: 360deg;
    }
}


.navbar li{
    all: unset;
    font-size: 1.6vw;
    position: relative;
}

.navbar li a{
    text-decoration: none;
    color: black;
    background: none;
    transition: 1s;
    position: relative;
    cursor: pointer;
}


.navbar li a::after{
    content: "";
    position: absolute;
    background-color: #468585;
    height: 0.5vh;
    width: 0;
    left: 0;
    bottom: -1vh;
    transition: 1s;
}

.navbar li a:hover:after{
    width: 100%;
}

.navbar li a:hover{
    color: #50B498;
}

.navbar-register{
    position: absolute;
    margin-right: 5vw;
    right: 0;
    font-size: 1.5vw;
    background-color: #50B498;
    width: 10vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: white;
}

.bg2{
    z-index: 1;
    position: absolute;
    width: 100vw;
    height: 55vh; 
    border-radius: 0 0 100% 100%;
    background-color: #9CDBA6;
}

section{
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden; 
    background-color: #DEF9C4;
}

.first{
    display: flex;
    justify-content: center;
}

.first img{
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}

.mission{
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.topMission{
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 6rem;
    padding: 1rem;
    text-align: center;
}

.botMission{
    font-size: 1.09rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    width: 35rem;
    height: 10rem;
    text-align: center;
}

.second, .third{
    z-index: 1;
    position: relative;
}

.second {
    display: flex;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9CDBA6;
    height: 55vh;
    width: 45vw;
    border-radius: 40px;
    margin-left: 12.5vw;
    transition: transform 1s ease, background-color 1s ease;
}

.container h1 {
    font-size: 4.5rem;
    text-align: center;
    padding: 3vw;
    transition: transform 1s ease, opacity 1s ease;
}

.container p {
    padding: 3vw;
    font-size: 1.75rem;
    text-align: center;
    position: absolute;
    transform: scale(0);
    transition: transform 1s ease, opacity 1s ease;
    opacity: 0;
}

.container:hover h1 {
    transform: scale(0);
    opacity: 0;
}

.container:hover p {
    transform: scale(1);
    opacity: 1;
}

.third{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7.5vh;
}

.row{
    justify-content: space-between;
    width: 90vw;
    height: 40vh;
    display: flex;
}

.rowCont{
    width: 27.5vw;    
    height: 40vh;
    background-color: #9CDBA6;
    display: flex;
    flex-direction: column;
    padding: 3vh;
    border-radius: 50px;
}

.pic{
    width: auto;
    height: 18vh;
    margin-bottom: 1vh;
}

.desc{
    width: auto;
    height: 17vh;
    margin-top: 1vh;
    text-align: justify;
}

.desc h2{
    margin-bottom: 3vh;
}