/* 
#DEF9C4 : very light
#9CDBA6 : light
#50B498 : turqoise
#468585 : dark
*/

@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap"); /* geologica font */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#testing {
  height: 2000px;
}

::selection {
  background-color: #0b372dbb;
}

body {
  background-color: #def9c4;
}

#tes {
  background-color: white;
  width: 10rem;
  height: 10rem;
}

.dark-corner {
  position: absolute;
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 1));
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.landing-page-container {
  width: 100%;
  height: 250vh;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #2e125d;
}

.landing-page-wrap {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #2e125d;
}

.title-text {
  position: absolute;
  font-family: "Geologica", sans-serif;
  font-size: 4em;
  line-height: 0.9;
  top: 30%;
  left: 50%;
  text-align: center;
  color: white;
}

.title-text h2 {
  font-weight: 100;
  pointer-events: auto;
}

.title-text h1 {
  font-weight: 700;
  pointer-events: auto;
}

.bg-img {
  position: absolute;
  width: 105%;
  height: 105%;
  top: 50%;
  left: 50%;
  object-fit: cover;
}

.cliff-left {
  position: absolute;
  width: 60rem;
  bottom: -130%;
  left: 16px;
  z-index: 50;
}

.cliff-right {
  position: absolute;
  width: 40rem;
  bottom: -74%;
  right: -560px;
  z-index: 100;
}

.cliff-adventure {
  position: absolute;
  width: 15rem;
  left: 40%;
  bottom: -14%;
  z-index: 40;
  rotate: -5deg;
}

.adventure {
  position: absolute;
  width: 8rem;
  bottom: -10%;
  left: 43.6%;
  z-index: 60;
}

.rock-adventure {
  position: absolute;
  width: 14rem;
  bottom: -9%;
  right: 21.8%;
  z-index: 40;
}

.parallax {
  pointer-events: none;
  transform: translateX(-50%) translateY(-50%) translateZ(0) perspective(2300px);
  transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
}

.home-floor {
  width: 100%;
  top: 95%;
  position: absolute;
  left: 50%;
  z-index: 1200;
}

.test2 {
  background: #def9c4;
  width: 100%;
  height: 100vh;
  z-index: 10000;
  position: relative;
}

.explore-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8rem;
  height: 2.5rem;
  /* display: initial;
  transform: translate(-50%, -50%); */
  /* background-color: red; */
  cursor: pointer;
  pointer-events: all;
  z-index: 20000;
}

#button-explore {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  border: none;
  background-color: white;
  font-family: "Geologica", sans-serif;
  font-size: 1em;
  text-align: left;
  padding-left: 25px;
  color: black;
  transition: 0.5s all ease-in-out;
  z-index: 20000;
  cursor: pointer;
  pointer-events: all;
}

#arrow-right-black {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  transform: translate(20px, -12px);
  opacity: 1;
  transition: 0.5s all ease-in-out;
}

#arrow-right-white {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  transform: translate(20px, -12px);
  opacity: 0;
  transition: 0.5s all ease-in-out;
}

#button-explore:hover {
  color: white;
  background-color: black;
}

@media (max-width: 1320px) {
  .cliff-left {
    width: 50rem;
    bottom: -90%;
    left: -4rem;
  }
  .cliff-right {
    width: 35rem;
    bottom: -50%;
  }
  .rock-adventure {
    right: 12%;
  }
  .cliff-adventure {
    width: 12rem;
    left: 39%;
  }
  .adventure {
    width: 6rem;
    left: 45%;
  }
}

@media (max-width: 1100px) {
  .title-text h1 {
    font-size: 5.8rem;
  }
  .title-text h2 {
    font-size: 4.7rem;
  }
  .cliff-left {
    width: 50rem;
    bottom: -90%;
    left: -8rem;
  }
  .cliff-right {
    width: 35rem;
    bottom: -50%;
    right: -37rem;
  }
  .rock-adventure {
    right: 12%;
  }
  .cliff-adventure {
    width: 12rem;
    left: 38%;
  }
  .adventure {
    width: 6rem;
    left: 45%;
  }
}

@media (max-width: 900px) {
  .rock-adventure {
    width: 12rem;
    bottom: -6%;
  }
  .title-text h1 {
    font-size: 5.8rem;
  }
  .title-text h2 {
    font-size: 4.7rem;
  }
  .cliff-left {
    width: 50rem;
    bottom: -90%;
    left: -10rem;
  }
  .cliff-right {
    width: 35rem;
    bottom: -50%;
    right: -40rem;
  }
  .cliff-adventure {
    width: 10rem;
    left: 38%;
    bottom: -8%;
  }
  .adventure {
    width: 5.5rem;
    left: 45%;
  }
}

@media (max-width: 800px) {
  .rock-adventure {
    width: 10rem;
    bottom: -3%;
  }
  .title-text h1 {
    font-size: 5.8rem;
  }
  .title-text h2 {
    font-size: 4.7rem;
  }
  .cliff-left {
    width: 50rem;
    bottom: -90%;
    left: -14rem;
  }
  .cliff-right {
    width: 35rem;
    bottom: -50%;
    right: -40rem;
  }
  .cliff-adventure {
    width: 10rem;
    left: 38%;
    bottom: -8%;
  }
  .adventure {
    width: 5.5rem;
    left: 45%;
  }
  .dark-corner {
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0) 65%,
      rgba(0, 0, 0, 0.7)
    );
  }
}
