/* 
#DEF9C4 : very light
#9CDBA6 : light
#50B498 : turqoise
#468585 : dark
*/

@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap"); /* geologica font */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #def9c4;
}

#tes {
  background-color: white;
  width: 10rem;
  height: 10rem;
}

.landing-page-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(#ffffff 0%, rgba(0, 0, 0, 0.2) 80%);
}

.title-text {
  position: absolute;
  font-family: "Geologica", sans-serif;
  font-size: 4em;
  line-height: 0.9;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.title-text h2 {
  font-weight: 100;
}

.title-text h1 {
  font-weight: 700;
}

#bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

#moon {
  position: absolute;
  width: 8rem;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
}

#cliff-left {
  position: absolute;
  width: 35rem;
  bottom: 0;
  left: 0;
  z-index: 50;
}

#cliff-right {
  position: absolute;
  width: 32rem;
  bottom: 5%;
  right: 0;
  z-index: 100;
}

#cliff-adventure {
  position: absolute;
  width: 12rem;
  left: 32.5%;
  bottom: 19.8%;
  z-index: 40;
}

#adventure {
  position: absolute;
  width: 7rem;
  bottom: 10.5%;
  left: 39.5%;
  z-index: 60;
}

#rock-adventure {
  position: absolute;
  width: 14rem;
  bottom: 12%;
  right: 29.6%;
  z-index: 40;
}
